@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.highlighter {
  --bit-highlighter-color: var(--bit-bg-heavy, #f6f6f6);
  --bit-highlighter-color-hover: var(--bit-bg-heaviest, #ededed);
  --bit-highlighter-color-active: var(--bit-bg-heaviest, #ededed);
}

.inspect {
  display: flex;
  align-items: center;
  padding-left: 24px;
  > span {
    margin-right: 4px;
  }
  @media screen and (max-width: $br-md) {
    font-size: 12px;
    padding-left: 8px;
  }
  @media screen and (max-width: $br-sm) {
    display: none;
  }
}
