
.label {
  a {
      background-color: var(--bit-bg-heavy, #f6f6f6) !important;
      &:hover {
          background-color: var(--bit-border-color-lightest, #ededed) !important;
      }
  }
}

.frame {
  border: 1px solid var(--bit-border-color-lightest, #ededed);
}
