@use '~@teambit/design.responsive.breakpoints/_breakpoints.module.scss';

// @hack - prevent horrible horizontal scroll
// TODO - @uri - fix in highlighter, then remove this hack
body {
  
  overflow-x: hidden;
}

.highlighter {
  --bit-highlighter-color: var(--surface-hover-color, #edebfc);
  --bit-highlighter-color-hover: var(--surface-focus-color, #e2defa);
  --bit-highlighter-color-active: var(--surface-active-color, #dcd8f9);
}

.inspect {
  display: flex;
  align-items: center;
  padding-left: 24px;
  > span {
    margin-right: 4px;
  }
  @include breakpoints.media-md {
    font-size: 12px;
    padding-left: 8px;
  }
  @include breakpoints.media-sm {
    display: none;
  }
}
