@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.content {
  position: relative;
  padding-left: 36px;
  box-sizing: border-box;
  width: 100%;
  min-width: 0; // prevents content from overflowing
  // margin-left: 250px;
  @media screen and (max-width: $br-md) {
    padding: 0;
    margin-left: 0;
  }
}

.main {
  display: flex;
  position: relative;
}


.collapsableSidebar {
  // position: fixed;
  background-color: var(--bit-bg-modal, #ffffff);
  height: 100%;
  z-index: 1;
}

.sidebarContent {
  overflow: hidden;
  flex: 0 0 240px;
  width: 240px;
  z-index: 999999; // TODO: get from zindexs
  background-color: white;
  transition: flex-basis 300ms, width 300ms ease-in-out;
  div {
    white-space: nowrap;
  }
  @media screen and (max-width: $br-md) {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.closed {
      flex-basis: 0;
      width: 0;
    }
  }
}

.primaryLinks {
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  font-size: var(--bit-p-xs, 14px);
  padding: 16px 0;
}
