.docs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.content {
  padding: 0 36px;
  box-sizing: border-box;
  min-width: 0; // prevents content from overflowing
}

.main {
  display: flex;
}

.sidebar {
  min-width: 264px;
  border-right: 1px solid var(--bit-border-color-lightest, #ededed);
}

.primaryLinks {
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  font-size: var(--bit-p-xs, 14px);
  padding: 16px 0;
}