.benefitsCardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .benefitsCardGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .benefitsCardGrid {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}
