@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.app {
  --bit-header-height: 40px;
}
.label {
  a {
    background-color: var(--bit-bg-heavy, #f6f6f6) !important;
    &:hover {
      background-color: var(--bit-border-color-lightest, #ededed) !important;
    }
  }
}
