.commandBar {
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  width: 95vw; // as wide as possible

  font-size: 20px;
}

.searchBoxItem {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.title {
  margin-right: 4px;
  max-width: 100%;
  flex: none;
}

.description {
  font-size: 0.85em;
  color: var(--on-background-low-color);
}
