.heading{
    border-bottom: 1px solid #ededed;
    margin-bottom: 3px;
}

.component {
    color: #9cdcfe
}

.greenHighlight {
    color: rgb(51, 227, 28);
}

.noMarginBottom {
    >div {
        margin-bottom: 0;
    }
}