.innovatorGrid {
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 0.4fr);
  height: 540px;
  min-width: 580px;
  max-width: 780px;
  border-left: 2px solid white;
}

.bubbleWrapper {
  height: 30px;
  width: 85px;
  > div {
    opacity: 1;
    max-width: 180px;
  }
}

.cloud {
  z-index: -1;
  background-color: #f4f4f4;
  color: #f4f4f4;

  bottom: 0;
  left: 0;
  position: absolute;
  transform: scale3d(3, 2.5, 2) translate3d(-15px, 15px, 0) rotate(86deg);
}

.topCloud {
  transform: rotate(153deg) translate3d(-225px, 165px, 0) scale3d(1.5, 1.5, 1.5);

  top: 0;
  right: 0;
  z-index: -1;
  background-color: #f9f9f9;
  color: #f9f9f9;

  position: absolute;
}

.innovatorsLabel {
  font-size: var(--bit-p-xs, 14px);
  bottom: 8px;
  left: 8px;
  padding: 0 18px;
  position: absolute;
}
.designLabel {
  font-size: var(--bit-p-xs, 14px);
  top: 4px;
  right: 4px;
  position: absolute;
}
