
.buildSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.title {
  margin: 10px 0 80px 0;
}

.content {
  display: grid;
  grid-template-columns: 65% 5% 30%;
  align-items: center;
}

.appImg {
  max-width: 500px;
  border-radius: 8px;
}
