.buildSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    overflow: unset;
  }
}

.title {
  margin: 10px 0 80px 0;
}

.distributionGraph {
  // grid-template-columns: repeat(8, minmax(150px, 200px));
  // grid-auto-rows: minmax(340px, auto);
  // grid-template-rows: unset;
  // width: unset;
  @media screen and (max-width: 1200px) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

// .content {
//   display: grid;
//   grid-template-columns: 65% 5% 30%;
//   align-items: center;
// }

// .appImg {
//   max-width: 500px;
//   border-radius: 8px;
// }

.appImg {
  max-width: 600px;
  border-radius: 8px;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
  @media screen and (max-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

.connectingEdgeAnchor {
  transform: translateX(-215px);
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
