@use '~@teambit/design.responsive.breakpoints/_breakpoints.module.scss';

.header {
  width: 100%;
  height: 40px;
  display: flex;
  font-size: 14px;
  border-bottom: 1px solid var(--border-medium-color, #ededed);

  --header-spacing: 1em;
  @include breakpoints.media-md {
    --header-spacing: 0.5em;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widgets {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.plugins {
  display: flex;
  align-items: center;
  margin-left: var(--header-spacing, 24px);

  gap: 0.5em;
  font-size: inherit;
}

.widgets,
.plugins {
  @include breakpoints.media-sm {
    display: none;
  }
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logoLink {
  // added to center correctly
  height: 24px; // same as logo
}

.logo {
  margin-right: var(--header-spacing, 24px);
  display: inline-flex;
}
