.label {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -27px;
  left: 50%;
  right: 50%;
  > a {
    padding: 2px 8px;
    background-color: #f6f6f6;
    white-space: nowrap;
    color: #2b2b2b;
    transition: background-color 300ms ease-in-out;
    &:hover {
      text-decoration: none;
      background-color: #ededed;
    }
  }

  .left {
    border-radius: 4px 0px 0px 4px;
    margin-right: 2px;
  }
  .right {
    border-radius: 0px 4px 4px 0px;
    margin-left: 2px;
  }
}
