.container {
  // min-height: 350px;
}

.tab {
  display: flex;
  justify-content: flex-end;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.componentId {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: 16px;
  text-decoration: none;
  min-width: 201px;
  padding: 0 8px;
  height: 32px;
  background: var(--primary-color, #6c5ce7);
  border-radius: 8px 8px 0px 0px;
  font-size: 14px;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

.tabLinks {
  display: flex;
  justify-content: space-around;
  height: 32px;
  width: 80px;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--on-background-medium-color, #707279);
  border-radius: 8px;
  // flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;

  > svg {
    font-size: 16px;
  }

  &:hover {
    color: var(--on-background-high-color, #2b2b2b);
  }
  &.active {
    color: var(--primary-color, #6c5ce7);
  }
}

.tabContent {
  border: 2px solid var(--primary-color, #6c5ce7);
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  max-height: 750px;
  border-radius: 8px;
  p {
    margin: 0;
  }
}

.tabContent {
  // min-height: 500px;
  overflow: auto;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
