@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

$sidebarWidth: 240px;

.sidebar {
  transition: width 300ms, margin-right 300ms;

  // width placeholder pushes the content right
  width: $sidebarWidth;
  margin-right: 24px;

  @media screen and (max-width: $br-md) {
    width: 0;
    margin-right: 0;
  }
}

.sidebarContent {
  height: 100%;
  border-right: unset;
  display: flex;

  > :last-child {
    height: 100%;
    position: absolute;

    @media screen and (max-width: $br-md) {
      position: fixed;
    }
  }
}

.scrollbar {
  height: 100%;
  overflow-y: auto;
}

.tree {
  padding: 16px 0px;
}

.collapser {
  // relative to app body
  position: absolute;
  left: 0;
  top: 0;
  bottom: unset;

  display: none;
  @media screen and (max-width: $br-md) {
    display: unset;
  }
}

.sidebarTitle {
  color: var(--bit-text-inactive-heavy, #878c9a);
  font-size: var(--bit-p-xxs, 12px);
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
