
.bubble {
  box-sizing: border-box;
  border: 2px solid #EDEDED;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  position: relative;
  // make sure to improve transition
  transition: width 0.5s;
  opacity: 0.3;

  svg {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .id {
    display: none;
  }

  &.active, &:hover {
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12), 0px 2px 6px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    width: 190px;
    border-radius: 100px;
    opacity: 1;
    // change to color pallette

    .id {
      // make the text appear only after bubble opens up
      display: block;
      position: absolute;
      left: 50px;
      top: 10px;
    }
  }

  &:hover {
    border-color: #BABEC9;
    transition: 0.5s;
  }
}

.icon {
  position: absolute;    
  left: 15px;
  top: 29.3%;
  height: 24px;
  width: 24px;
}

.versionLabel {
  position: absolute;
  bottom: -10px;
  right: -10px;
  font-size: 10px;
}
