
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navLinks {
    display: flex;
    align-items: center;
    font-size: var(--bit-p-xs, 14px);
    @media screen and (max-width: 768px) {
        > * {
            display: none;
        }
    }
}
.link {
    margin-right: 40px;
    font-size: inherit;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
.placeholder {
    display: flex;
    align-items: center;
    font-size: inherit;
    .arrow {
        padding-left: 8px;
    }
}
.active {
    color: var(--bit-accent-color, #6C5CE7);
}
.navRight {
    display: flex;
    align-items: center;
    font-size: var(--bit-p-xs, 14px);
    > *:not(:last-child) {
        font-size: inherit;
        margin-right: 8px;
    }
    a {
        display: inline-flex;
    }
}
