.imageWrapper {
  display: flex;
  justify-content: flex-start;
  &[data-rmiz-wrap='visible'] {
    width: fit-content;
  }
}

.center {
  justify-content: center;
}

.withBg {
  background-color: var(--surface-neutral-focus-color, #F1F2F4);
  border-radius: 5px;
}
