@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

$breakpoints: //name val
  xxl $br-xxl, xl $br-xl, lg $br-lg, l $br-l, md $br-md, sm $br-sm, xs $br-xs;

@each $breakpoint in $breakpoints {
  @for $i from 12 through 1 {
    @for $j from 12 through 1 {
      $brName: nth($breakpoint, 1);
      $brVal: nth($breakpoint, 2);
      @if $brName == 'xxl' {
        .colSpan {
          &--#{$i}-#{$j} {
            grid-column-start: $i;
            grid-column-end: $i;
            grid-row-start: $j;
            grid-row-end: $j;
          }
        }
      }
      @media only screen and (max-width: $brVal) {
        .colSpan {
          &--#{$brName}-#{$i}-#{$j} {
            grid-column-start: $i;
            grid-column-end: $i;
            grid-row-start: $j;
            grid-row-end: $j;
          }
          &--#{$brName}-null-null {
            display: none;
          }
          &--#{$brName}-undefined-undefined {
            display: none;
          }
        }
      }
    }
  }
}
