.gridGraph {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 0.4fr);
  align-items: center;
  grid-gap: 24px;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.displacement {
  &[data-position='top'] {
    align-self: start;
    justify-self: center;
  }
  &[data-position='top-right'] {
    align-self: start;
    justify-self: end;
  }
  &[data-position='right'] {
    align-self: center;
    justify-self: end;
  }

  &[data-position='bottom-right'] {
    align-self: end;
    justify-self: end;
  }
  &[data-position='bottom'] {
    align-self: end;
    justify-self: center;
  }

  &[data-position='bottom-left'] {
    align-self: end;
    justify-self: start;
  }

  &[data-position='left'] {
    align-self: center;
    justify-self: start;
  }

  &[data-position='top-left'] {
    align-self: start;
    justify-self: start;
  }
}
