
.button {
  background: #6C5CE7;
  border-radius: 8px;
  border: none;
  height: 48px;
  width: 168px;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  font-family: 'CircularPro';
}

.secondary {
  background: #ECEAFF;
  color: #5D4AEC;
}
