
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6C5CE7;
  border-radius: 8px;
  height: 48px;
  width: 168px;
  border: 1px solid var(--pri1mary-color);
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: #3E29DF;
  }
}

.secondary {
  background: #ECEAFF;
  color: #5D4AEC;
  &:hover {
    background-color: #dfdcff;
  }
}
