.intro {
  margin-bottom: 30px;
}

.showcase {
  margin-top: 100px;
  margin-bottom: 100px;
}

.step {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  padding: 5px;
}

.thinkingProcess {
  width: 80%;
  margin-left: 9%;
}

.margin {
  margin: 8px 0;
}
