.tableOfContent {
  min-width: 264px;
  position: sticky;

  top: 24px;

  max-height: calc(100vh - 40px);
  overflow: auto;
  font-size: 14px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px 0;
}

.item {
  border-radius: 8px;
}