
.productCard {
  max-width: 300px;
  margin: 0 30px 20px 0;
  // float: left;
  // max-height: 800px;
  img {
    height: 200px;
  }
  
  > div {
    padding: 15px;
  }
}


.tabs {
  ul {
    list-style: none;
  }
}
