@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';
.bitCard {
  float: left;
  max-width: 250px;
  margin: 30px;
  @media screen and (max-width: $br-sm) {
    float: none;
    margin: auto;
  }
}

.logo {
  display: flex;
  opacity: 0.8;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
