
h1.heading {
    font-size: 64px;
    background: linear-gradient(.25turn, #1900DD, 20%, #CE00DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



// h2.heading {

// }