
.heading {
    --bit-heading-xxl: 64px;
    --bit-heading-xl: 48px;
    --bit-heading-lg: 32px;
    --bit-heading-md: 24px;
    --bit-heading-sm: 16px;
    --bit-heading-xs: 14px;
    color: #2B2B2B;
    font-weight: 800;
}

.highlight {
    background: linear-gradient(.25turn, #1900DD, 20%, #CE00DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
