.heading {
  color: #2b2b2b;
  font-weight: 800;
}

.highlight {
  background: linear-gradient(0.25turn, #1900dd, 20%, #ce00da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
