
.hero {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 24px;
}

.highlight {
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
