@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.hero {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 0.4fr);
  align-items: center;
  grid-gap: 24px;
  align-items: center;
  justify-items: center;
}

.heroGraph {
  @media screen and (max-width: $br-lg) {
    grid-template-rows: repeat(5, 0.4fr);
  }
  @media screen and (max-width: $br-md) {
    grid-template-rows: repeat(4, 0.4fr);
  }
}

.bubble {
  position: absolute;
  background-color: white;
  &:hover {
    z-index: 1;
  }
}

.bubbleContainer {
  position: relative;
}

.title {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 3;
  @media screen and (max-width: $br-lg) {
    grid-row-start: 2;
  }
  text-align: center;

  .largeSvg {
    top: 14px;
    left: 14px;
  }
}

.marginZero {
  margin: 10px;
}

.titleHighlighter {
  border-radius: 80px;
}

.subTitle {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  text-align: center;
  margin-bottom: 0;
  .subtitleSvg {
    top: 10px;
    left: 10px;
  }
  @media screen and (max-width: $br-lg) {
    grid-row-start: 3;
  }
  @media screen and (max-width: $br-md) {
    grid-column-start: 3;
    grid-column-end: 11;
  }
  @media screen and (max-width: $br-sm) {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.subtitleHighlighter {
  border-radius: 45px;
  padding: 20px;
}

.getStarted {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 5;
  text-align: center;
  > div {
    margin-bottom: 24px;
  }
  > div:first-child {
    margin-right: 8px;
  }
  @media screen and (max-width: $br-lg) {
    grid-row-start: 4;
  }
}

.graphStart {
  grid-column-start: 12;
  grid-row-start: 3;
  position: relative;
}

.copyBox {
  --bit-bg-dent: #0a1821;
  --bit-accent-color: #ededed;
  color: #ededed;
  width: 20em;
  height: 48px;
}

.getStartedAction {
  width: 280px;
}
