  .Modal {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      max-width: 500px;
      max-height: 400px;
      background-color: #fafafa;
      border-radius: 10px;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 25px;
      padding-bottom: 25px;
      overflow-y: auto;
      // animation-duration: 0.3s;
      // animation-name: animate-pop;
      animation: animate-pop 0.3s ease-out;
      // animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
      // animation-timing-function: cubic-bezier(.36, .41, .71, .99);
      &:focus-visible{
        outline: unset;
      }
  }
    @keyframes animate-pop {
      0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
  
      100% {
        opacity: 1;
        transform: scale(1, 1);
      }
    }