@use '~@teambit/design.responsive.breakpoints/_breakpoints.module.scss';

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.navLinks {
    display: flex;
    align-items: center;
    font-size: var(--bit-p-xs, 14px);
    height: 100%;
}

.link:not(:last-child) {
  margin-right: 24px;

  @include breakpoints.media-md {
    margin-right: 8px;
  }
}

.placeholder {
    display: flex;
    align-items: center;
    font-size: inherit;
    .arrow {
        padding-left: 8px;
    }
}

.navRight {
    display: flex;
    align-items: center;
    font-size: var(--bit-p-xs, 14px);
    > *:not(:last-child) {
        font-size: inherit;
        margin-right: 8px;
    }
    a {
        display: inline-flex;
    }
}

.githubLink {
    @include breakpoints.media-sm {
        > span:not(:first-child) {
            display: none;
        }
    }
}
