.useCaseCard {
  border: 1px solid var(--bit-border-color-lightest, #ededed);
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 342px;
  height: 100%;
  align-items: flex-start;

}
.title {
  margin: 10px 0;
  color: var(--bit-text-color-heavy, #2b2b2b);
}
.text {
  margin: 0;
  color: var(--bit-text-color-light, #565656);
}
.link {
  text-decoration: none;
}
.arrowIcon {
  font-size: 14px;
  padding-left: 2px;
}
.image {
  height: 40px;
}
