@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.header {
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid #EDEDED;
}

.headerContent {
  display: flex;
  align-items: center;
  > a {
    display: inline-flex;
  }
  .hamburgerButton {
    display: none;
    border: none;
    margin-right: 8px;
    @media screen and (max-width: $br-md) {
      display: unset;
    }
  }
}

.logo {
  margin-right: 32px;
}

.inspect {
  padding-left: 24px;
}