@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.inspect {
  display: flex;
  align-items: center;
  padding-left: 24px;
  > span {
    margin-right: 4px;
  }
  @media screen and (max-width: $br-md) {
    font-size: 12px;
    padding-left: 8px;
  }
  @media screen and (max-width: $br-sm) {
    display: none;
  }
}

.right {
  display: flex;
  align-items: center;
  font-size: var(--bit-p-xs, 14px);
  > *:not(:last-child) {
    font-size: inherit;
    margin-right: 8px;
  }
  a {
    display: inline-flex;
  }
  @media screen and (max-width: $br-sm) {
    display: none;
  }
}

.githubLink {
  @media screen and (max-width: $br-md) {
    > span:not(:first-child) {
      display: none;
    }
  }
}
