@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.sidebar {
  padding: 16px 0px;
  position: relative;
  .collapser {
    display: none;
    right: -32px;
    top: 40px;
    bottom: unset;
    @media screen and (max-width: $br-md) {
      display: unset;
    }
  }
}
.sidebarTitle {
  color: var(--bit-text-inactive-heavy, #878c9a);
  font-size: var(--bit-p-xxs, 12px);
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
