@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

$sidebarWidth: 240px + 24px;

.footer {
  padding: 40px 0 20px $sidebarWidth;
  box-sizing: border-box;
  font-size: 14px;

  > div:last-child {
    margin-top: 40px;
  }

  @media screen and (max-width: $br-md) {
    padding-left: 0;
  }
}
