@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

.footer {
  padding: 40px 0 20px 0;
  font-size: 14px;
  margin: 0px 276px;

  > div:last-child {
    margin-top: 40px;
  }

  @media screen and (max-width: $br-lg) {
    margin-right: 0;
  }
  @media screen and (max-width: $br-md) {
    margin: 0;
  }
}
