@import '~@teambit/base-ui.layout.breakpoints/_breakpoints.scss';

$textColumn: 1000px;
$headerHeight: 40px;

.docsPage {
  display: flex;
  justify-content: space-between;
  min-height: 100vw;
}

.next {
  margin-top: 40px;
  margin-bottom: 20px;
}

.mdxLayout {
  --bit-p-md: 18px;
  li {
    font-size: var(--bit-p-md, 18px);
  }

  p,
  .heading,
  ul,
  ol,
  pre,
  :global(.admonition) {
    max-width: $textColumn;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

.heading {
  h1, h2, h3 {
    // TODO - @uri remove this when moving header outside of main scrollable content. 
    scroll-margin-top: $headerHeight; // prevent headings from hiding behind fixed top bar, when clicking hyperlink
  }
}

.content {
  position: relative;
  min-width: 0; // this is in order for content to fit next to the table of content without colliding
}

.tableOfContent {
  position: sticky;
  flex-shrink: 0;
  margin-left: 32px;
  top: 56px;
  bottom: 0;
  right: 8px;
  @media screen and (max-width: $br-lg) {
    display: none;
  }
}
